*{
    font-family: 'IBM Plex Mono', monospace;
    font-feature-settings: 'salt' on;
    font-size: 12px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}

$text-color-black: #161616;
$text-color-blue: #0F62FE;
$text-color-grey: #E0E0E0;

$thin-text: 400;
$bold-text: 700;

$big-font: 6.84rem;
$mid-font: 4.236rem;


// General Stiles


body {
    color: $text-color-black;
}
h1, h1 *{
    font-size: $big-font;
    font-weight: $bold-text;
}
h2, h2 *{
    font-weight: 450;
    font-size: $mid-font;
}





// --------------- Reusable Stiles ---------------

// flex
.flex-component{
    display: flex;
}
.align-center{
    align-items: center;
}
// / flex 

.height-100vh{
    height: 100vh;
}
.blue-color-text{
    color: $text-color-blue;
}
.margin-left{
    margin-left: 10vw;
}
.cursor{
    display: inline-block;
    width: 4px;
    height: 6rem;
    background-color: $text-color-grey;
    animation: cursor .9s infinite;

}
@keyframes cursor {
    0%{
        background-color: white;
    }
    50%{
        background-color: $text-color-grey;
    }
    100%{
        background-color: white;
    }
    
}





// --------------- / Reusable Stiles ---------------





// --------------- Reusable Components ---------------
.main-container{
    display: flex;
    align-items: center;
    height: 90vh;
    padding: 16px;
}

.title-wrapper{
    max-width: 70vw;
}

.html-code{
    color: $text-color-grey;
    font-weight: 400;
}

.btn-wrapper{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wrapper a{
    padding: 10px;
    border-radius: 50%;
}

.fa-chevron-down{
    font-size: 30px;
    transition: all .2s ease-out;
    color: $text-color-blue;
}
.btn-wrapper a:hover .fa-chevron-down{
    font-size: 38px;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
} 
// --------------- / Reusable Components ---------------






// --------------- Side Bar Section ---------------
.side-bar{
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-flow: column;
    align-items: center;
}
.side-bar a{
    height: 62px;
    display: block;
    padding: 6px;
    border-radius: 8px;
    transition: all .2s ease-out;
}
.side-bar a:hover{
    transform: scale(1.2);
}





// --------------- / Side Bar Section ---------------