@import "variables";
@import "components/tech_tag";
@import "components/CursorAvatar";

@import "pages/ContactPage";

* {
  font-family: "IBM Plex Mono", monospace;
  font-feature-settings: "salt" on;
  font-size: 12px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

// General Stiles

body {
  color: $text-color-black;
  overflow: hidden;
}
h1,
h1 * {
  font-size: $big-font;
  font-weight: $bold-text;
}
h2,
h2 * {
  font-weight: 450;
  font-size: $mid-font;
}
h3,
h3 * {
  font-size: 2.618rem;
}
h4,
h4 * {
  font-size: 1.618rem;
}

// --------------- Reusable Stiles ---------------

// flex
.flex-component {
  display: flex;
}
.align-center {
  align-items: center;
}
// / flex

.height-100vh {
  height: 100vh;
}

.mt__bg-dark {
  background-color: $bg-dark;
}
.mt__t-color--blue {
  color: $text-color-blue;
}
.mt__t-color--white {
  color: $text-color-white;
}
.mt__t-color--grey {
  color: #525252;
}
.mt__t-font--plex-serif,
.mt__t-font--plex-serif * {
  font-family: "IBM Plex Serif", serif;
}
.margin-left {
  margin-left: 10vw;
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// --------------- / Reusable Stiles ---------------

// --------------- Reusable Components ---------------
.mt__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.jumbotron__wrapper__title {
  max-width: 70vw;
}

.mt__next-section__btn-wrapper {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;

  &--hidden {
    opacity: 0;
    height: 1vh;
    display: none;
  }

  a {
    padding: 10px;
    border-radius: 50%;

    .fa-chevron-down {
      font-size: 30px;
      transition: all 0.2s ease-out;
      animation: bounce 2s infinite;
      color: $text-color-grey;
      cursor: pointer;
    }

    &:hover .fa-chevron-down {
      font-size: 38px;
      color: $text-color-blue;
    }
  }
}

@media screen and (max-width: 500px) {
  .mt__next-section__btn-wrapper {
    display: none;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

// --------------- / Reusable Components ---------------

// --------------- Jumbotron Section ---------------
.jumbotron {
  .jumbotron__title__wrapper {
    // max-width: 70vw;
  }
  &__title {
    line-height: 1.2em;
    cursor: unset;
    user-select: none;
    &__code {
      color: $text-color-grey;
      font-weight: 400;
    }
    &__cursor {
      display: inline-block;
      width: 3px;
      height: 1.2em;
      background-color: $text-color-grey;
      animation: cursor 0.9s infinite;
    }
  }
}

// --------------- / Jumbotron Section ---------------

// --------------- Side Bar Section ---------------
.side-bar {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  // display: flex;
  flex-flow: column;
  align-items: center;
  // mix-blend-mode: color;

  &__item {
    mix-blend-mode: color-burn !important;
  }

  a {
    aspect-ratio: 1;
    display: block;
    padding: 6px;
    border-radius: 8px;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(1.09);
    }
  }
}

// --------------- / Side Bar Section ---------------

// --------------- Tecnology Stack Section ---------------
.my-stack-section {
  .stack-wrapper {
    h3 {
      margin: 4vh 0 2vh 0;
      color: $text-color-blue;
    }

    a {
      display: block;
      // margin: 0px 17px;
      height: 48px;
      cursor: pointer;
    }
  }
}

.stack-img {
  max-width: 48px;
  max-height: 48px;
  width: 48px;
  overflow: hidden;

  a {
    img {
      width: 100%;
    }
  }
  // width: 12vw;
}
// --------------- / Tecnology Stack Section ---------------
// --------------- Projects Section ---------------
.projects {
  &__image {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    // height: 300px;
  }
}
.mt__projects__title {
  font-weight: $bold-text;
  & * {
    font-weight: $bold-text;
  }
}
.projects__row {
  width: 100%;
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
  // overflow: hidden;
  // gap: 20vw;
  position: relative;
  height: 50vh;
}
@media screen and (max-device-width: 990px) {
  .projects__row {
    height: 70vh;
  }
  .mt__projects__control {
    margin: 0px;
  }
}
// @media screen and (max-device-width: 490px) {
//   .projects__row {
//     height: 80vh;
//   }
//   .mt__projects__control {
//     margin: 0px;
//   }
// }

.mt__projects__control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px;
  z-index: 5;
}
.project {
  flex-shrink: 0;
  width: 100%;
  padding: 0 5px;
  transition: all 0.2s ease-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project--active {
  opacity: 1;
  z-index: 2;
}

.mt__projects__index-dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
}

.mt__projects__index-dot {
  width: 10px;
  aspect-ratio: 1;
  background: $mt__light-blue;
  border-radius: 50%;
  transition: all 350ms ease-out;
}
.mt__projects__index-dot--active {
  background: $mt__blue;
  transform: scale(1.2);
}

.mt__control-btn {
  height: 20px;
  width: 20px;
  // padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-out;
  cursor: pointer;
  background: none;
  border: none;
}
.mt__control-btn:hover {
  // transform: scale(1.2);
  background: $mt__light-blue;
}
@media only screen and (max-device-width: 990px) {
  .mt__projects__control {
    margin-bottom: 40px;
  }
  .mt__projects__index-dots {
    gap: 10px;
  }
  .mt__projects__index-dot {
    width: 7px;
  }
  .mt__control-btn {
    height: 25px;
    width: 25px;
  }
  .mt__control-btn img {
    width: 24px;
  }
}

// --------------- / Projects Section ---------------

// ----------------- Media Queries -----------------
// --------- Tablet --------
/* Portrait and Landscape */
@media only screen and (max-device-width: 1024px) {
  h1,
  h1 * {
    font-size: $tablet-big-font;
    font-weight: $bold-text;
  }
}

// --------- Phones --------

@media (max-device-width: 650px) {
  * {
    font-size: 10px;
  }

  $mobile-big-font: 3rem !important;

  h1,
  h1 * {
    font-size: $mobile-big-font;
    font-weight: $bold-text;
  }
  h2,
  h2 * {
    font-size: 2.5rem;
  }
  h3,
  h3 * {
    font-size: 2rem;
  }

  .jumbotron {
    &__wrapper__title {
      // width: 90vw;
    }
  }
  .side-bar {
    // position: fixed;
    // right: -200px;
    // top: 50%;
    // transform: translate(0, -50%);
    // display: flex;
    // flex-flow: column;
    // align-items: center;

    a {
      height: 62px;
      display: block;
      padding: 6px;
      border-radius: 8px;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

// -----------------Phone Warning -----------------

// @media only screen and (max-width: 755px) {
//   .small-devices-hidden {
//     display: none;
//   }
// }
// @media only screen and (min-width: 754px) {
//   .small-devices-show {
//     display: none;
//   }
// }

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape) {
  .side-bar {
    display: none;
  }
}
