$bg-dark: #393939;

$text-color-black: #161616;
$text-color-blue: #0f62fe;
$text-color-grey: #e0e0e0;
$text-color-white: #ffffff;

$mt__blue: #0f62fe;
$mt__light-blue: #c6daff;

$mt__pink: #ff006e;
$mt__orange: #fb5607;
$mt__purple: #8338ec;
$mt__yellow: #ffbe0b;

$thin-text: 400;
$bold-text: 700;

$big-font: 6.84rem;
$tablet-big-font: 5rem;
$mid-font: 4rem;
