@import "../variables";

.mt__contact-page {
  .title {
    font-size: 1.5rem;
    font-weight: 400;
    color: $text-color-white;
    margin-bottom: 2rem;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    .contact-list__item {
      &__link {
        opacity: 0.8;
        text-decoration: none;
        color: $text-color-white;
        transition: all 0.25s ease-in-out;

        * {
          font: {
            size: 2.5rem;
            weight: 700;
          }
          transition: all 0.45s ease-in-out;
        }
        .accent {
          color: $mt__blue;
        }

        &:hover {
          opacity: 1;
          * {
            line-height: 2.1;
            font-size: 3.5rem;
          }
        }
      }
    }
    .unhovered {
      * {
        // line-height: 2.1;
        font-size: 1.6rem;
        opacity: 0.5;
      }
    }
  }
}
